Repository CloudFitSoftware/PubSec-Info-Assistant, changes with the owners that docs/CODEOWNERS names for each.
All owners: @dayland, @asbanger, @georearl

docs/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @dayland @asbanger @georearl


/app/ @dayland @georearl

/infra/  @asbanger @dayland 

/artifacts/ @georearl @dayland

/azure_search/ @dayland @georearl

/docs/ @dayland @georearl

/scripts/ @dayland @asbanger

/.devcontrainer/  @asbanger @dayland

Adding CODEOWNERS
  .github/CODEOWNERS
Owners: @dayland, @asbanger, @georearl

Adding CODEOWNERS (#1)
  .github/CODEOWNERS
Owners: @dayland, @asbanger, @georearl

Removed media services as it is deprecated
  Makefile
  app/backend/app.py
  app/backend/approaches/chatreadretrieveread.py
  app/enrichment/app.py
  app/enrichment/requirements.txt
  charts/infoasst-enrichment/templates/enrichment-deployment.yaml
  charts/infoasst-enrichment/values.yaml.template
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  charts/infoasst-webapp/values.yaml.template
  docker/Dockerfile.functions
  docker/Dockerfile.reranker-transformers
  docker/Dockerfile.t2v-transformers
  docker/Dockerfile.weaviate
  functions/ImageEnrichment/__init__.py
  infra/main.bicep
  infra/main.parameters.json.template
  scripts/build-containers.sh
  scripts/environments/local.env.example
  scripts/helm-create-values.sh
  scripts/inf-create.sh
Owners: @dayland, @asbanger, @georearl

Removed media services as it is deprecated (#3)
  Makefile
  app/backend/app.py
  app/backend/approaches/chatreadretrieveread.py
  app/enrichment/app.py
  app/enrichment/requirements.txt
  charts/infoasst-enrichment/templates/enrichment-deployment.yaml
  charts/infoasst-enrichment/values.yaml.template
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  charts/infoasst-webapp/values.yaml.template
  docker/Dockerfile.functions
  docker/Dockerfile.reranker-transformers
  docker/Dockerfile.t2v-transformers
  docker/Dockerfile.weaviate
  functions/ImageEnrichment/__init__.py
  infra/main.bicep
  infra/main.parameters.json.template
  scripts/build-containers.sh
  scripts/environments/local.env.example
  scripts/helm-create-values.sh
  scripts/inf-create.sh
Owners: @dayland, @asbanger, @georearl

Merging in changes to enable Weaviate as well as fix a function app deployment
  app/backend/app.py
  app/backend/approaches/chatreadretrieveread.py
  app/backend/requirements.txt
  app/enrichment/app.py
  charts/infoasst-enrichment/templates/enrichment-deployment.yaml
  charts/infoasst-enrichment/values.yaml.template
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  charts/infoasst-webapp/values.yaml.template
  docker/Dockerfile.webapp
  infra/core/function/contfunctions.bicep
  infra/core/storage/container-registry.bicep
Owners: @dayland, @georearl, @asbanger

Merging in changes to enable Weaviate as well as fix a function app deployment (#4)
  app/backend/app.py
  app/backend/approaches/chatreadretrieveread.py
  app/backend/requirements.txt
  app/enrichment/app.py
  charts/infoasst-enrichment/templates/enrichment-deployment.yaml
  charts/infoasst-enrichment/values.yaml.template
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  charts/infoasst-webapp/values.yaml.template
  docker/Dockerfile.webapp
  infra/core/function/contfunctions.bicep
  infra/core/storage/container-registry.bicep
Owners: @dayland, @georearl, @asbanger

Initial commit
  app/backend/app.py
  app/backend/approaches/chatreadretrieveread_mistral.py
  app/backend/approaches/chatreadretrieveread_openai.py
  app/backend/core/modelhelper.py
  charts/infoasst-llm/.helmignore
  charts/infoasst-llm/Chart.yaml
  charts/infoasst-llm/templates/llm-deployment.yaml
  charts/infoasst-llm/values.yaml.template
  charts/infoasst-weaviate/templates/weaviate-deployment.yaml
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  docker/Dockerfile.webapp
  docs/deployment/sovereign_deployment_guide.md
  docs/images/container-arch.png
  docs/images/storage-networkaccess.png
  docs/images/storage-vnet.png
  infra/core/compute/aks.bicep
  infra/core/storage/container-registry.bicep
  infra/main.bicep
  infra/main.parameters.json.template
  llm/.dockerignore
  llm/.env.example
  llm/.gitignore
  llm/Dockerfile
  llm/README.md
  llm/instruct_pipeline.py
  llm/model_config.py
  llm/requirements.txt
  llm/save_model.py
  llm/server.py
  llm/utils.py
  scripts/CopyDatabases.ps1
  scripts/CopyDatabases.psm1
  scripts/ExportDatabases.ps1
  scripts/ImportDatabases.ps1
  scripts/ImportExportDatabases.psm1
  scripts/PurgeDocument.ps1
  scripts/build.sh
  scripts/environments/local.env.example
  scripts/inf-create.sh
Owners: @dayland, @georearl, @asbanger

Adding additional docs
  README.md
  docs/deployment/containerized-deployment.md
  docs/deployment/deployment.md
  docs/deployment/sovereign_deployment_guide.md
Owners: @dayland, @asbanger, @georearl

Addition additional documentation
  docs/deployment/containerized-deployment.md
  scripts/environments/local.env.example
Owners: @dayland, @georearl, @asbanger

Addition additional documentation (#6)
  docs/deployment/containerized-deployment.md
  scripts/environments/local.env.example
Owners: @dayland, @georearl, @asbanger

updating terraform
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
  scripts/prepare-tf-variables.sh
Owners: @asbanger, @dayland

updating terraform (#10)
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
  scripts/prepare-tf-variables.sh
Owners: @asbanger, @dayland

removing figlet
  scripts/build-containers.sh
  scripts/build.sh
  scripts/check-subscription.sh
  scripts/configuration-create.sh
  scripts/create-ad-objs-for-deployment.sh
  scripts/deploy-enrichment-webapp.sh
  scripts/deploy-functions.sh
  scripts/deploy-search-indexes.sh
  scripts/deploy-webapp.sh
  scripts/functional-tests.sh
  scripts/inf-cleanup.sh
  scripts/inf-create.sh
  scripts/inf-destroy.sh
Owners: @dayland, @asbanger

removed figlet
  scripts/build-containers.sh
  scripts/build.sh
  scripts/check-subscription.sh
  scripts/configuration-create.sh
  scripts/create-ad-objs-for-deployment.sh
  scripts/deploy-enrichment-webapp.sh
  scripts/deploy-functions.sh
  scripts/deploy-search-indexes.sh
  scripts/deploy-webapp.sh
  scripts/functional-tests.sh
  scripts/inf-cleanup.sh
  scripts/inf-create.sh
  scripts/inf-destroy.sh
Owners: @dayland, @asbanger

a couple deployment bug fixes
  infra/core/ai/cogServices/cogServices.tf
  infra/core/db/cosmosdb.tf
  infra/core/host/functions/functions.tf
  infra/core/search/search-services.tf
  infra/core/search/variables.tf
  infra/core/storage/acr/acr.tf
  infra/core/storage/storageaccount/storage-account.tf
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
  scripts/load-env.sh
Owners: @asbanger, @dayland

another pub access enabled flag
  infra/core/security/keyvault/keyvault.tf
Owners: @asbanger, @dayland

basic->standard
  infra/variables.tf
Owners: @asbanger, @dayland

more changes
  infra/variables.tf
Owners: @asbanger, @dayland

adding network acls
  infra/core/security/keyvault/keyvault.tf
Owners: @asbanger, @dayland

adding default action
  infra/core/storage/storageaccount/storage-account.tf
Owners: @asbanger, @dayland

enable_rbac_authorization kv
  infra/core/security/keyvault/keyvault.tf
Owners: @asbanger, @dayland

logic for second agentpool
  infra/core/compute/aks.tf
  infra/core/compute/variables.tf
  infra/main.tf
Owners: @asbanger, @dayland

removing entra stuff that needs to be created by another team
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/main.tf
Owners: @asbanger, @dayland

commening out remaining entra stuff
  infra/core/videoindexer/variables.tf
  infra/main.tf
  infra/outputs.tf
Owners: @asbanger, @dayland

last entra error
  infra/core/security/role/role.tf
  infra/main.tf
Owners: @asbanger, @dayland

adding virtual sub ids
  infra/core/security/keyvault/keyvault.tf
  infra/core/storage/storageaccount/storage-account.tf
Owners: @asbanger, @dayland

adding brackets
  infra/core/security/keyvault/keyvault.tf
  infra/core/storage/storageaccount/storage-account.tf
Owners: @asbanger, @dayland

fixing id val
  infra/core/security/keyvault/keyvault.tf
  infra/core/storage/storageaccount/storage-account.tf
  infra/core/storage/storageaccount/variables.tf
  infra/main.tf
Owners: @asbanger, @dayland

fixed typo
  infra/core/security/keyvault/keyvault.tf
  infra/core/storage/storageaccount/storage-account.tf
Owners: @asbanger, @dayland

vnet role assignment for KV
  infra/core/security/role/role.tf
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/main.tf
Owners: @asbanger, @dayland

adding more data
  infra/core/security/keyvault/keyvault.tf
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/core/security/keyvault/keyvault.tf
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/main.tf
Owners: @asbanger, @dayland

typo
  infra/core/security/keyvault/keyvault.tf
Owners: @asbanger, @dayland

moved to kv file
  infra/core/security/keyvault/keyvault.tf
  infra/main.tf
Owners: @asbanger, @dayland

bug fix
  infra/main.tf
Owners: @asbanger, @dayland
