Repository CloudFitSoftware/PubSec-Info-Assistant, changes with the owners that docs/CODEOWNERS names for each.
All owners: @dayland, @asbanger, @georearl

docs/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @dayland @asbanger @georearl


/app/ @dayland @georearl

/infra/  @asbanger @dayland 

/artifacts/ @georearl @dayland

/azure_search/ @dayland @georearl

/docs/ @dayland @georearl

/scripts/ @dayland @asbanger

/.devcontrainer/  @asbanger @dayland

added in whitelisted ips var
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/core/security/role/role.tf
  infra/main.tf
  infra/variables.tf
  scripts/prepare-tf-variables.sh
Owners: @asbanger, @dayland

parameterizing vars
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/main.tf
  infra/variables.tf
  scripts/environments/local.env.example
  scripts/prepare-tf-variables.sh
Owners: @asbanger, @dayland

more network changes
  infra/core/ai/cogServices/cogServices.tf
  infra/core/ai/cogServices/variables.tf
  infra/core/db/cosmosdb.tf
  infra/core/db/variables.tf
  infra/core/security/keyvault/keyvault.tf
  infra/core/storage/storageaccount/storage-account.tf
  infra/core/storage/storageaccount/variables.tf
  infra/main.tf
Owners: @asbanger, @dayland

Update changes for cog services and role assignment
  infra/core/ai/cogServices/cogServices.tf
  infra/main.tf
Owners: @asbanger, @dayland

Updated some code to reference managed identity for storage access; removed helpers
  app/backend/app.py
  functions/FileUploadedFunc/__init__.py
  functions/TextEnrichment/__init__.py
  functions/requirements.txt
  functions/shared_code/utilities.py
Owners: @dayland, @georearl, @asbanger

removing entraID stuff
  infra/core/host/webapp/variables.tf
  infra/core/host/webapp/webapp.tf
  infra/core/security/keyvault/keyvault.tf
  infra/core/security/keyvault/variables.tf
  infra/core/videoindexer/variables.tf
  infra/main.tf
Owners: @asbanger, @dayland

Updated some code to reference managed identity for storage access; removed helpers (#13)
  app/backend/app.py
  functions/FileUploadedFunc/__init__.py
  functions/TextEnrichment/__init__.py
  functions/requirements.txt
  functions/shared_code/utilities.py
Owners: @dayland, @georearl, @asbanger

Added str_to_bool to additional env variables
  app/backend/app.py
Owners: @dayland, @georearl

Added str_to_bool to additional env variables (#14)
  app/backend/app.py
Owners: @dayland, @georearl

Merging in changes from ADO
  .gitignore
  app/backend/approaches/chatreadretrieveread.py
  docker/Dockerfile.functions
  docker/Dockerfile.webapp
  functions/shared_code/utilities.py
  infra/core/publicip/publicip.tf
  infra/main.tf
  infra/sp_config/config.json
  scripts/inf-create.sh
Owners: @dayland, @asbanger, @georearl

Adding changes just pushed to ADO
  functions/FileFormRecSubmissionPDF/__init__.py
  functions/shared_code/utilities.py
Owners: @dayland, @asbanger, @georearl

Adding Custom Prompt and Punkt resources (#15)
  .gitignore
  app/backend/approaches/chatreadretrieveread.py
  docker/Dockerfile.functions
  docker/Dockerfile.webapp
  functions/FileFormRecSubmissionPDF/__init__.py
  functions/shared_code/utilities.py
  infra/core/publicip/publicip.tf
  infra/main.tf
  infra/sp_config/config.json
  scripts/inf-create.sh
Owners: @dayland, @asbanger, @georearl

Adding script for re-generating etags after restoring from a previous backup.
  scripts/generate-etags.sh
Owners: @dayland, @asbanger

Merging efforts; adding customizations
  app/backend/app.py
  app/backend/auth.py
  app/frontend/src/api/api.ts
  app/frontend/src/api/models.ts
  app/frontend/src/components/Answer/AnswerIcon.tsx
  app/frontend/src/components/Example/ExampleList.tsx
  app/frontend/src/index.tsx
  app/frontend/src/pages/chat/Chat.tsx
  app/frontend/src/pages/layout/Layout.tsx
  charts/infoasst-webapp/templates/webapp-deployment.yaml
  docker/Dockerfile.functions
  docker/Dockerfile.webapp
  infra/main.tf
  infra/outputs.tf
  infra/sp_config/config.json
  infra/variables.tf
  scripts/environments/local.env.example
  scripts/generate-etags.sh
  scripts/prepare-tf-variables.sh
Owners: @dayland, @georearl, @asbanger
